# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Secrets
.env
.env.*
*.key
*.pem
secrets/

# Linux
*~
.DS_Store
*.swp
*.swo

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
